<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common2/header :: common-header"/>

<body class="hold-transition skin-blue sidebar-mini">
<head th:replace="common2/sidebarBranchManager :: common-sidebar"/>

<div>
<div th:replace="common2/header :: common-mainpanel"/>
</div>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Updating Course
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">

	<div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Update</h3>
            </div>
            <!-- /.box-header -->

            <!-- form start -->
            <form role="form" action="#" th:action="@{/branch-manager/manipulate-course/update}" th:object="${course}" method="post">
              <div class="box-body">
                <div class="form-group">
                  <label for="exampleInputEmail1">ID</label>
                  <input type="text" class="form-control" th:field="*{id}" th:value="*{id}" >
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Name</label>
                  <input type="text" name="id" class="form-control" th:field="*{name}" th:value="*{name}" placeholder="Enter name">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Quota</label>
                  <input type="text" class="form-control" th:field="*{quota}" th:value="*{quota}" placeholder="Enter quota">
                </div>

                <div class="form-group">
                  <label for="exampleInputPassword1">Fee</label>
                  <input type="text" class="form-control" th:field="*{fee}" th:value="*{fee}" placeholder="Enter fee">
                </div>
                

              </div>
              
              
              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
		

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

<div th:replace="common2/footer :: common-footer">

</body>

</html>