<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common2/header :: common-header"/>

<body class="hold-transition skin-blue sidebar-mini">
<head th:replace="common2/sidebarSystemManager :: common-sidebar"/>

<div>
<div th:replace="common2/header :: common-mainpanel"/>
</div>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Create Employee
      </h1>

    </section>

    <!-- Main content -->
    <section class="content">


		<div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Define Course</h3>
            </div>
            <!-- /.box-header -->

            <!-- form start -->
            <form role="form" action="#" th:action="@{/system-manager/define_course}" th:object="${course}" method="post">
              <div class="box-body">

                <div class="form-group">
                  <label for="exampleInputEmail1">Course Name</label>
                  <input type="text" class="form-control" th:field="*{name}" th:value="*{name}" placeholder="Enter name">
                </div>
				
              </div>
              <!-- /.box-body -->
              
              <div class="alert alert-danger alert-dismissible" th:if="${error!=null}">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="icon fa fa-ban" th:text="${error}"></i></h5>
               </div>
               
               <div class="alert alert-success alert-dismissible" th:if="${success!=null}">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="icon fa fa-check" th:text="${success}"></i></h5>
              </div>
                
              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>



    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

<div th:replace="common2/footer :: common-footer">

</body>

</html>